{% assign author = site.data.authors[include.author] %}
{% assign date = include.date %}

{% capture ru_date %}
    {{ date | date: "%-d" }}
    {% assign m = date | date: "%-m" | minus: 1 %}
    {{ site.data.language.months[m] }}
    {{ date | date: "%Y" }}
{% endcapture %}
<div class="post-info">
  {%- if author.url -%}<a href="{{ author.url | relative_url }}" target="_blank">{%- endif -%}
    {% if author.avatar  %}
      <img src="{{ author.avatar | relative_url }}">
    {% endif %}
    <p class="meta">
      {% if author.name %}{{ author.name }} - {% endif %}{{ ru_date }}
    </p>
  {%- if author.url -%}</a>{%- endif -%}
</div>
